<section fxLayoutAlign="center" >
  <mat-card>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="login(f)">
      <mat-form-field>
        <mat-label>Correo electrónico</mat-label>
        <input type="email" matInput ngModel name="email" required/>
        <mat-error>Debe introducir un correo valido</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput ngModel name="password" required/>
        <mat-error>Debe introducir una contraseña</mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Enviar</button>
    </form>
  </mat-card>
</section>


